<div class="container">
<div class="row">
  <div *ngFor= "let product of productos$ | async" class="col s12 m3">
    <div class="card">
      <div class="card-image">
        <img [src]="product.imagen">
        <span class="card-title purple-text">{{product.nombre}}</span>
      </div>
      <div class="card-content">
        <p>
          <b>Precio: </b> Bs{{product.precio}}
        </p>
      </div>
      <div class="card-action">
        <a (click)="buy(product)">Comprar</a>
      </div>
    </div>
  </div>
  
</div>
</div>